<!DOCTYPE html>
<html lang="en">
<head id="head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="sb-nav-fixed">
<h1>Grocery Items</h1>
<nav id="top-nav"></nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav"></div>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="m-4" id="monthlyGrocery">Monthly Grocery- 1999</h1>
                <div class="row">
                    <div class="col-md-12 mb-4">
                        <a class="btn btn-outline-primary btn-sm float-right" id="btn-back"><i class="fas fa-arrow-alt-circle-left"></i>  Back</a>
                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <div class="card mb-4">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-md-4">
                                        <i class="fas fa-table mr-1"></i>
                                    </div>
                                    <div class="col-md-8 text-right">
                                        <a class="btn btn-outline-primary btn-sm" id="exporitems" href="#"><i class="fas fa-download"></i> Export</a>
                                        <button class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#formModalCenter" id="addItem"><i class="fas fa-plus-circle" ></i> Add Item</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive" id="grocery-item-table">
                                    <table class="table table-bordered table-sm" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Total Price</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr  class="groceryItems">
                                            <td><span class="groceryItemName"></span>
                                            <input type="hidden" class="productId" />
                                            </td>
                                            <td class="groceryItemDesc" >Maize meal</td>
                                            <td class="estimatedPrice" >89.80</td>
                                            <td class="quantity" >91.80</td>
                                            <td class="totalPriceQuantity" >91.80</td>
                                            <td class="pr-4">
                                                <a href="#" class="deleteUrl"></a>
                                                <a class="btn btn-outline-danger btn-sm deleteGroceryItem" href="#myModal" data-toggle="modal"><i class="fas fa-trash-alt"></i> Delete</a>
                                                <a  class="btn btn-outline-warning btn-sm editGroceryItem" href="#" data-toggle="modal" data-target="#formModalCenter"><i class="fas fa-edit"></i></i> Update</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        <tr class="table-secondary">
                                            <td></td>
                                            <td></td>
                                            <td id="totalPrice"></td>
                                            <td id="totalQuantity"></td>
                                            <td id="finalPrice">Total Items R100.03</td>
                                            <td></td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </main>
        <!-- Modal -->

        <div class="modal fade" id="formModalCenter" tabindex="-1" role="dialog" aria-labelledby="formModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="formModalCenterTitle">New Grocery Item</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" id="saveGroceryItem" action="#">
                            <input type="hidden" id="monthlyGroceryId">
                            <input type="hidden" id="groceryItemId">
                          <div class="form-group">
                                <label for="formproduct">Product</label>
                                <select class="form-control" id="formproduct" style='width: 100%;'>
                                    <option class="formProductList">Maize</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="formPrice">Price</label>
                                <input type="number" class="form-control" id="formPrice"
                                       placeholder="Enter Price">
                            </div>
                            <div class="form-group">
                                <label for="formQuantity">Quantity</label>
                                <input type="number" class="form-control" id="formQuantity" placeholder="Enter Quantity">
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="submitButton">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <!--        model Delete-->
        <div id="delete-confirmation" ></div>

        </main>
    </div>
</div>
<footer id="footer"></footer>
</body>
</html>