<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head id="head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="sb-nav-fixed">
<h2>Products</h2>

<nav id="top-nav">
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav"></div>

    <div id="layoutSidenav_content">
        <div>
            <div class="container-fluid">
                <h1 class="mt-4">Products</h1>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        <button class="btn btn-outline-primary btn-sm float-right"><i class="fas fa-plus-circle"></i> Add Product</button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th >Id</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Price</th>
                                        <th colspan="3">Operations</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr  id="productList">
                                        <td id="productId"></td>
                                        <td id="productName"></td>
                                        <td id="productDesc" ></td>
                                        <td id="productPrice" ></td>
                                        <td class="pr-4"><button type="button" class="btn btn-outline-danger btn-sm"><i class="fas fa-trash-alt"></i> Delete</button>
                                        <button type="button" class="btn btn-outline-warning btn-sm"><i class="fas fa-edit"></i></i> Update</button></td>
                                    </tr>
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </main>
    </div>
</div>
<footer id="footer"></footer>

</body>
</html>